@(workshopForm: Form[Workshop],idWorkshop: Long) @import helper._


@implicitFieldConstructor = @{
FieldConstructor(twitterBootstrapInputHorizontal.render) }

@mainNoSidebar("Ajouter un Worshop") {
<div class="row">
	<div class="span6 offset3">
		<h3 style="padding-bottom: 20px;">Veuillez saisir les détails du
			workshop:</h3>

		@form(
			action = routes.WorkshopController.saveWorkshop( idWorkshop ),
			'class   -> "form form-horizontal",
			'id      -> "add-workshop-form",
			'enctype -> "multipart/form-data"
		) { 
		
		@if(workshopForm.hasGlobalErrors) { 
                <div class="alert alert-error">
                <a class="close" data-dismiss="alert">×</a>
                    @workshopForm.globalError.message
                </div>
            }
		
		@inputText(
			workshopForm("subject"), 
			'_label -> "Sujet du Workshop",
			'class  -> "input-xlarge"
		) 
		
		@textarea(
			workshopForm("description"), 
			'_label -> "Description du contenu",
			'class  -> "input-xlarge"
		) 		
		
		<div class="control-group">			
			<label class="control-label" for="appendedInputButton">Choisissez une image</label>
			<div class="controls">
				<input class="input-xlarge" name="image" id="appendedInputButton" disabled type="text" />
				<button class="btn" id="image-button" type="button">Go!</button>
			</div>
		</div>

		@********
		 	hack : input reel de parcour d'images
		 	@see http://duckranger.com/2012/06/pretty-file-input-field-in-bootstrap/ 
		*********@
		@inputFile(
			workshopForm("image"),
			'_label -> "",
			'style  -> "display:none",
			'id     -> "image-workshop"
		)
		
		<div class="actions center-text" >
			<input type="submit" value="Créer ce Workshop"
				class="btn-success btn primary"> <a
				href="@routes.Application.welcome()" class="btn">Cancel </a>
		</div>

	</div>
</div>
} }