@(workshopForm: Form[Workshop],idWorkshop: Long) @import helper._


@implicitFieldConstructor = @{
FieldConstructor(twitterBootstrapInputHorizontal.render) }

@mainNoSidebar(Messages("form.add.workshop.page.title")) {
<div class="row">
	<div class="span6 offset3">
		<h3 style="padding-bottom: 20px;">@Messages("form.add.workshop.title")</h3>

		@form(
			action = routes.WorkshopController.saveWorkshop( idWorkshop ),
			'class   -> "form form-horizontal",
			'id      -> "add-workshop-form",
			'enctype -> "multipart/form-data"
		) { 
		
		@if(workshopForm.hasGlobalErrors) { 
            <div class="alert alert-error">
            <a class="close" data-dismiss="alert">×</a>
                @workshopForm.globalError.message
            </div>
        }
		
		@inputText(
			workshopForm("subject"), 
			'_label -> Messages("form.add.workshop.subject.label"),
			'class  -> "input-xlarge",
			'maxlength -> 100
		) 
		
		@textarea(
			workshopForm("summary"), 
			'_label -> Messages("form.add.workshop.summary.label"),
			'class  -> "input-xlarge",
			'rows 	-> 5,
			'maxlength -> 300
		)
		
		@textarea(
			workshopForm("description"), 
			'_label -> Messages("form.add.workshop.description.label"),
			'class  -> "input-xlarge",
			'maxlength -> 1000,
			'rows 	-> 10, 
			'col 	-> 80
		) 		
		
		<div class="control-group">			
			<label class="control-label" for="appendedInputButton">@Messages("form.add.workshop.image.label")</label>
			<div class="controls">
				<input class="input-xlarge" name="image-hack" id="appendedInputButton" disabled type="text" />
				<button class="btn" id="image-button" type="button">@Messages("form.add.workshop.subject.button")</button>
			</div>
		</div>

		@********
		 	hack :
		 	@see http://duckranger.com/2012/06/pretty-file-input-field-in-bootstrap/ 
		*********@
		@inputFile(
			workshopForm("image"),
			'_label -> "",
			'style  -> "display:none",
			'id     -> "image-workshop"
		)
		
		<div class="actions center-text" >
			<input type="submit" value="@Messages("form.add.workshop.submit.button")"
				class="btn-success btn primary"> 
			<a href="@routes.Application.welcome()" class="btn">@Messages("form.add.workshop.cancel.button")</a>
		</div>

	</div>
</div>
} }