@(message: String, workshops: List[Workshop])

@import helper._

@main(message) {

	@if(workshops.isEmpty) {
		<div class="row-fluid workshop-bloc">
			<div class="span12 well">
				@Messages("welcome.no.workshops")
			</div>
		</div>
		
	} else {
		@for(workshop <- workshops) { 
			<div class="row-fluid workshop-bloc spaceAfter">
				<div class="span12 well">
					<div class="container-fluid">
						<div class="row-fluid">
							<div class="span3 workshopPicture">
								<img src="@routes.Assets.at(workshop.image)" />
							</div>
							<div class="span8 spaceAfter">
								<h4>
									<a href="#" workshop-id="@workshop.id">@workshop.subject</a>
								</h4>
								<div class="spaceAfter">
									<p>@Html( workshop.summary )<p>
								</div>
								<div>
									<p><strong>@Messages("form.plan.workshop.last.speaker") : </strong> @workshop.workshopSession.speaker.firstName @workshop.workshopSession.speaker.lastName</p>
									<p><strong>@Messages("form.plan.workshop.last.date") : </strong> @WorkshopController.decorateDate(workshop.workshopSession.nextPlay)</p>
								</div>
							</div>
							<div class="span1">
								<div class="commentPicture" >
									<a href="#">
										<img width="36" height="36"	workshop-id="@workshop.id" title="@Messages("view.comments")" src="@routes.Assets.at("images/view.png")" />
									</a>
									<h4 class="alignToRight" title="@Messages("comments.number")">@workshop.comments.size</h4>
								</div>
								<div class="ressourcesPicture">
									@if( workshop.workshopRessources != null && workshop.workshopRessources.workshopSupportLink != null ) { 
										<a href="@workshop.workshopRessources.workshopSupportLink" target="_blank">
											<img width="36" height="36"	title="@Messages("link.to.workshop.ressources")" src="@routes.Assets.at("images/internet-icon.png")" />
										</a>
									}
									@if( workshop.workshopRessources != null && workshop.workshopRessources.workshopSupportFile != null ) { 
										<a href="@routes.Assets.at(workshop.workshopRessources.workshopSupportFile)" target="_blank">
											<img width="36" height="36"	title="@Messages("workshop.ressources.file")" src="@routes.Assets.at("images/Files-icon.png")" />
										</a>
									}
								</div>
							</div>
						</div>
					
						<div class="row-fluid">
							<div class="span10">
								@Messages("plan.workshop.people.want.replay", workshop.potentialParticipants.size) :
							</div>
						</div>
						
						<div class="row-fluid">
							<div class="span10 participantPicture">
								@if( AuthentificationController.getUser != null && !workshop.potentialParticipants.contains(AuthentificationController.getUser) ) {
									<a href="@routes.WorkshopController.addParticipant( workshop.id )" title="@Messages("welcome.workshop.i.am.interested")" >
										<img width="32" height="32"
											src="@routes.Assets.at("images/addUser.png")" />
									</a>
								}
								@if( AuthentificationController.getUser != null && workshop.potentialParticipants.contains(AuthentificationController.getUser) ) {
									<a href="@routes.WorkshopController.removeParticipant( workshop.id )" title="@Messages("welcome.workshop.i.am.not.interested")" >
										<img width="32" height="32"
											src="@routes.Assets.at("images/removeUser.png")" />
									</a>
								}
								@for(participant <- workshop.potentialParticipants) { 
									<img width="32" height="32" title="@participant.firstName @participant.lastName"
										src="@participant.picture" />
								}
							</div>
						</div>
						@if( AuthentificationController.isAuthenticatedUserAdmin || AuthentificationController.getUser != null ) {
							<div class="row">
								<div class="span12 alignToRight">
									@if( AuthentificationController.isAuthenticatedUserAdmin ) {
										<a href="@routes.WorkshopController.addWorkshopRessources(workshop.id)" class="btn btn-inverse" >
											@Messages("form.plan.workshop.add.ressources")
										</a>
										<a href="@routes.WorkshopController.planWorkshop(workshop.id)" class="btn btn-success" >
											@Messages("form.plan.workshop.plan.again")
										</a>
									}
									@if( AuthentificationController.getUser != null ) {
										<a href="@routes.WorkshopController.addComment( workshop.id )" class="btn btn-info" >
											@Messages("form.plan.workshop.add.comment")
										</a>
									}
								</div>
							</div>
						}
					</div>
					
				</div>
				<div id="workshop-details-@workshop.id" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					@views.html.workshops.workshopDetailsPlayed( workshop )
				</div>
				<div id="workshop-comments-@workshop.id" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					@views.html.workshops.workshopComments( workshop )
				</div>
			</div>	
			}
		
	}
}
