@(message: String, workshops: List[Workshop])

@import helper._

@main(message) {

@if(workshops.isEmpty()) {
	<div class="row-fluid workshop-bloc">
		<div class="span11 well">
			@Messages("welcome.no.workshops")
		</div>
	</div>
	
} else {
	@for(workshop <- workshops) { 
	<div class="row-fluid workshop-bloc">
		<div class="span12 well">
			<div class="row-fluid">
				<div class="span12">
					<img class="floatRight" width="140"
						src="http://www.sqli.com/design/fre/images/logo_sqli.com.png" />
					<h3>@workshop.getSubject</h3>
					<div class="cadre">
						<p><strong>@Messages("form.plan.workshop.last.speaker")</strong> @workshop.getWorkshopSession().getSpeaker().getFirstName() @workshop.getWorkshopSession().getSpeaker().getLastName()</p>
						<p><strong>@Messages("form.plan.workshop.last.date")</strong> @WorkshopController.decorateDate(workshop.getWorkshopSession().getNextPlay())</p>
					</div>
				</div>
			</div>
			<div class="row-fluid">
				<div class="span12">
					<p>
						<b>@Messages("form.plan.workshop.description")</b>
						@workshop.getDescription()
					</p>
				</div>
			</div>
			@if( AuthentificationController.isAuthenticatedUserAdmin() ) {
				<div class="row">
					<div class="span2 offset10">
						@form(routes.WorkshopController.planWorkshop(workshop.getId)) {
							<input class="btn-success floatRight" type="submit" value="@Messages("form.plan.workshop.plan.again")" />
						}
					</div>
				</div>
			}
		</div>
	</div>
	}
}
}
