@(message: String, workshops: List[Workshop])

@import helper._

@main(message) {

	@if(workshops.isEmpty()) {
		<div class="row-fluid workshop-bloc">
			<div class="span12 well">
				@Messages("welcome.no.workshops")
			</div>
		</div>
		
	} else {
		@for(workshop <- workshops) { 
			<div class="row-fluid workshop-bloc spaceAfter">
				<div class="span12 well">
					<div class="container-fluid">
						<div class="row-fluid">
							<div class="span3 workshopPicture">
								<img src="@routes.Assets.at(workshop.getImage)" />
							</div>
							<div class="span8 spaceAfter">
								<h4>
									<a href="#" workshop-id="@workshop.getId">@workshop.getSubject</a>
								</h4>
								<div class="spaceAfter">
									<p>@Html( workshop.getSummary() )<p>
								</div>
								<div>
									<p><strong>@Messages("form.plan.workshop.last.speaker") : </strong> @workshop.getWorkshopSession().getSpeaker().getFirstName() @workshop.getWorkshopSession().getSpeaker().getLastName()</p>
									<p><strong>@Messages("form.plan.workshop.last.date") : </strong> @WorkshopController.decorateDate(workshop.getWorkshopSession().getNextPlay())</p>
								</div>
							</div>
							<div class="span1">
								<div class="commentPicture" >
									<a href="#">
										<img width="36" height="36"	workshop-id="@workshop.getId" title="@Messages("view.comments")" src="@routes.Assets.at("images/view.png")" />
									</a>
									<h4 class="alignToRight" title="@Messages("comments.number")">@workshop.getComments().size()</h4>
								</div>
								<div class="ressourcesPicture">
									@if( workshop.getWorkshopRessources() != null && workshop.getWorkshopRessources().getWorkshopSupportLink() != null ) { 
										<a href="@workshop.getWorkshopRessources().getWorkshopSupportLink()" target="_blank">
											<img width="36" height="36"	title="@Messages("link.to.workshop.ressources")" src="@routes.Assets.at("images/internet-icon.png")" />
										</a>
									}
									@if( workshop.getWorkshopRessources() != null && workshop.getWorkshopRessources().getWorkshopSupportFile() != null ) { 
										<a href="@routes.Assets.at(workshop.getWorkshopRessources().getWorkshopSupportFile())" target="_blank">
											<img width="36" height="36"	title="@Messages("workshop.ressources.file")" src="@routes.Assets.at("images/Files-icon.png")" />
										</a>
									}
								</div>
							</div>
						</div>
					
						<div class="row-fluid">
							<div class="span10">
								@Messages("plan.workshop.people.want.replay", workshop.getPotentialParticipants().size()) :
							</div>
						</div>
						
						<div class="row-fluid">
							<div class="span10 participantPicture">
								@if( AuthentificationController.getUser() != null && !workshop.getPotentialParticipants().contains(AuthentificationController.getUser()) ) {
									<a href="@routes.WorkshopController.addParticipant( workshop.getId )" title="@Messages("welcome.workshop.i.am.interested")" >
										<img width="32" height="32"
											src="@routes.Assets.at("images/addUser.png")" />
									</a>
								}
								@if( AuthentificationController.getUser() != null && workshop.getPotentialParticipants().contains(AuthentificationController.getUser()) ) {
									<a href="@routes.WorkshopController.removeParticipant( workshop.getId )" title="@Messages("welcome.workshop.i.am.not.interested")" >
										<img width="32" height="32"
											src="@routes.Assets.at("images/removeUser.png")" />
									</a>
								}
								@for(participant <- workshop.getPotentialParticipants()) { 
									<img width="32" height="32" title="@participant.getFirstName() @participant.getLastName()"
										src="@participant.getPicture()" />
								}
							</div>
						</div>
						@if( AuthentificationController.isAuthenticatedUserAdmin() || AuthentificationController.getUser() != null ) {
							<div class="row">
								<div class="span12 alignToRight">
									@if( AuthentificationController.isAuthenticatedUserAdmin() ) {
										<a href="@routes.WorkshopController.addWorkshopRessources(workshop.getId)" class="btn btn-inverse" >
											@Messages("form.plan.workshop.add.ressources")
										</a>
										<a href="@routes.WorkshopController.planWorkshop(workshop.getId)" class="btn btn-success" >
											@Messages("form.plan.workshop.plan.again")
										</a>
									}
									@if( AuthentificationController.getUser() != null ) {
										<a href="@routes.WorkshopController.addComment( workshop.getId )" class="btn btn-info" >
											@Messages("form.plan.workshop.add.comment")
										</a>
									}
								</div>
							</div>
						}
					</div>
					
				</div>
				<div id="workshop-details-@workshop.getId" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					@views.html.workshops.workshopDetailsPlayed( workshop )
				</div>
				<div id="workshop-comments-@workshop.getId" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					@views.html.workshops.workshopComments( workshop )
				</div>
			</div>	
			}
		
	}
}
