@(workshopSessionForm: Form[WorkshopSession], id: Long )

@import helper._
@import dao._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInputHorizontal.render) } 

@mainNoSidebar("Plannifier un Worshop") {
<div class="row">
	<div class="span6 offset3">
	    <h3 style="padding-bottom:20px;">Veuillez saisir les détails de la session du workshop:</h3>
    
    @form( 
    	action = routes.WorkshopController.saveWorkshopSession( id ),
    	'class   -> "form form-horizontal"
    ) {
        
            @inputText(
            	workshopSessionForm("doodleUrl"), 
            	'_label -> "L'url du Doodle",
            	'class  -> "input-xlarge"
            )
            
            @inputText(
            	workshopSessionForm("location"), 
            	'_label -> "Lieu du Workshop",
            	'class  -> "input-xlarge"
            )
            
          
			<div class="control-group">
				<label class="control-label">Date de la prochaine s&eacute;ance</label>
				<div class="controls">
					<input class="input-xlarge" name="date" id="nextPlay" disabled type="date" />
					<div class='btn' id="nextPlayButton"><i class='icon-calendar'></i></div>
				</div>
			</div>
            @select(
            	workshopSessionForm("Speaker"), 
                options = options( UserDAO.getSpeakers ),
                '_default -> "--- Choisir un Speaker ---",
                '_label -> "Speaker",
                'class  -> "input-xlarge",
                '_error -> workshopSessionForm("Speaker").error.map(_.withMessage("Le choix d'un Speaker est obligatoire"))
            )
         
        <div class="actions center-text spaceBefore">
            <input type="submit" value="Plannifier ce Workshop" class="btn-success btn primary"> 
            <a href="@routes.Application.welcome()" class="btn">Cancel </a> 
        </div>
    }
	 </div>
</div>
    
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/datepicker.css")">
<script src="@routes.Assets.at("javascripts/bootstrap-datepicker.js")" type="text/javascript"></script>
}