@(workshopSessionForm: Form[WorkshopSession], id: Long )

@import helper._
@import dao._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInputHorizontal.render) } 

@mainNoSidebar(Messages("form.plan.workshop.page.title")) {
<div class="row">
	<div class="span6 offset3">
	    <h3 class="spaceBefore">@Messages("form.plan.workshop.title")</h3>
    
    @form( 
    	action = routes.WorkshopController.saveWorkshopSession( id ),
    	'class   -> "form form-horizontal"
    ) {
        
            @inputText(
            	workshopSessionForm("doodleUrl"), 
            	'_label -> Messages("form.plan.workshop.doodleUrl.label"),
            	'class  -> "input-xlarge",
            	'_help -> Messages("form.plan.workshop.doodleUrl.help"),
            	'maxlength -> 255,
				'_showConstraints -> false
            )
            
            @inputText(
            	workshopSessionForm("location"), 
            	'_label -> Messages("form.plan.workshop.location.label"),
            	'class  -> "input-xlarge",
            	'maxlength -> 50,
            	'_showConstraints -> false
            )
            
          
<!-- 			<div class="control-group"> -->
<!-- 				<label class="control-label">@Messages("form.plan.workshop.nextPlay.label")</label> -->
<!-- 				<div class="controls"> -->
<!-- 					<input class="input-xlarge" name="date" id="nextPlay" disabled type="date" /> -->
<!-- 					<div class='btn' id="nextPlayButton"><i class='icon-calendar'></i></div> -->
<!-- 				</div> -->
<!-- 			</div> -->

			@inputDate(
            	workshopSessionForm("nextPlay"), 
            	'_label -> Messages("form.plan.workshop.nextPlay.label"),
            	'_error -> workshopSessionForm("nextPlay").error.map(_.withMessage(Messages("form.plan.workshop.nextPlay.error")))
            )

            @select(
            	workshopSessionForm("Speaker"), 
                options = options( UserDAO.getSpeakers ),
                '_default -> Messages("form.plan.workshop.speaker.default"),
                '_label -> Messages("form.plan.workshop.speaker.label"),
                'class  -> "input-xlarge",
                '_showConstraints -> false,
                '_error -> workshopSessionForm("Speaker").error.map(_.withMessage("Le choix d'un Speaker est obligatoire"))
            )
         
        <div class="actions center-text spaceBefore">
            <input type="submit" value="@Messages("form.plan.workshop.submit.button")" class="btn-success btn primary"> 
            <a href="@routes.Application.welcome()" class="btn">@Messages("form.plan.workshop.cancel.button")</a> 
        </div>
    }
	 </div>
</div>
    
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/datepicker.css")">
<script src="@routes.Assets.at("javascripts/bootstrap-datepicker.js")" type="text/javascript"></script>
}