@( workshop : Workshop )

@import helper._
@import views.helpers._

<div class="modal-header">
  	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  	<h3 id="myModalLabel">@workshop.subject</h3>
</div>
<div class="modal-body">
	<div>
		<p>@workshop.summary <p>
		@workshop.description
	</div>
</div>
<div class="modal-footer">
  	<div>
		<p>@Messages("welcome.there.is.some.people.interested", workshop.potentialParticipants.size)</p>
		@if( workshop.speakers.size > 0 ) {
			<p>@Messages("welcome.workshop.foreseen.speaker", ViewsHelper.getForeseenSpeaker(workshop.speakers) )</p>
		}
		@if( workshop.speakers.size == 0 ) {
			<p>@Messages("welcome.workshop.no.speaker")</p>
		}
	</div>
</div>

