@( workshop : Workshop )

@import views.helpers._
@import models.utils.helpers.UsersUtils._

<div class="modal-header">
  	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  	<h3 id="myModalLabel">@workshop.subject</h3>
</div>
<div class="modal-body">
  	<div class="container-fluid">
  		@for(comment <- workshop.comments) { 
			<div class="row-fluid">
				<div class="span12 spaceAfter">
					<h5 class="commentsTitle">
                        @Messages("comments.title", comment.author.firstName, comment.author.lastName, ViewsHelper.decorateDate(comment.creationDate, Application.conf("date.format.long")))
                    </h5>
					<div class="well">
                        @comment.comment
					</div>
                    @if( isCommentAuthor( comment ) ) {
                        <a class="pull-right label label-info" href="@routes.WorkshopController.editComment( comment.id )">
                            <i class="icon-edit"></i> edit
                        </a>
                    }

				</div>
			</div>
		}
	</div>
</div>
<div class="modal-footer">
	<p>@Messages("comments.number.sentence", workshop.comments.size)</p>
</div>

