@( workshop : Workshop, session : WorkshopSession )

@import helper._
@import views.helpers._

<div class="modal-header">
  	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  	<h3 id="myModalLabel">@workshop.subject</h3>
</div>
<div class="modal-body">
  	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span12 spaceAfter">
				<div>
					<p>@Html( workshop.summary )<p>
					@Html( workshop.description )
				</div>
			</div>
		</div>
        <div class="row-fluid">
            <div class="span12">
                <h4>@Messages("detail.workshop.places", session.participants.size)</h4>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span1">

            </div>
            <div class="span11 participantPictureTiny">
            @for(participant <- session.participants) {
                <p><img title="@participant.firstName @participant.lastName"
                src="@participant.picture" />
                    @participant.firstName @participant.lastName
                </p>
            }
            </div>
        </div>
	</div>
</div>
<div class="modal-footer">
  	<p><b>@Messages("workshop.planned.on")</b>: @ViewsHelper.decorateDate( session.nextPlay, Application.conf("date.format.long") ) --  <b>@Messages("workshop.location")</b>: @session.location</p>
	<p><b>@Messages("workshop.speaker")</b>: @session.speaker.firstName @session.speaker.lastName</p>
</div>

