# Extracted from https://github.com/ulrich/macaron-factory/blob/master/.gitignore
# Ignore all dotfiles
.*
# except for .gitignore
!.gitignore
bin

logs
project/project
project/target
target
tmp
.history
dist
/.settings
/.classpath
/.project
/nbproject/private/
/nbproject
/build.xml
