# Extracted from https://github.com/ulrich/macaron-factory/blob/master/.gitignore
# Ignore all dotfiles
.*
# except for .gitignore
!.gitignore

#ignore some Play! files
bin
logs
project/project
project/target
target
tmp
.history
dist
/build/

#ignore some applicative files
/public/ressources/
/public/images/workshops/

#ignore idea files
.idea
.idea_modules

#ignore Netbeans files
/nbproject/private/
/nbproject
/build.xml

#ignore Eclipse files
/.settings
/.classpath
/.project

#ignore activator files
activator-sbt-atmos-play-shim.sbt
project/activator-sbt-atmos-play-shim.sbt
project/activator-sbt-eclipse-shim.sbt
project/activator-sbt-idea-shim.sbt