/* ******************* */
/*   For general use   */
/* ******************* */
.wrapper{
	box-shadow:5px 0px 50px #DDD;
}

.floatRight{
	float:right;
}

/** Styles pour mise en forme globales **/
.center-text {
	text-align: center;
}
.right-text, .alignToRight{
	text-align:right;	
}
/** Mise en forme des formulaires **/
.help-block.muted{
	color:#999;
}
/** Styles Sp�cifiques **/
.header .application-title img{
	float:left;	
}
.header .application-title h1{
	font-family: 'Monda', sans-serif;
	color:#C50011;
	font-size: 40px;
    padding: 10px 0 0 30px;
    float:left;
}
.workshop-bloc h3{
	font-family: 'Monda', sans-serif;
}
#authenticationButton{
	margin: 15px 20px 0 0 ;
}

a.copyright{
	color:#C50011;
}

/** Fenetre de confirmation de suppresion **/
#modal-suppression-confirm .modal-body img{
	float:left;
	margin-left:48px;
}
.modal-suppression-text{
	padding:15px 10px;
}

/** Bare horizontale **/ 
hr.soften {
  height: 1px;
  margin: 70px 0;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  border: 0;
}

.footer hr.soften{
	height: 2px;
  	margin: 20px 0; 
}

/* ************************** */
/*  Gestion marge et padding  */
/* ************************** */
.littleMarginTop {
	margin-top: 10px;
}
.spaceBefore{
	margin-top:20px;
}
.spaceAfter{
	margin-bottom:20px;
}
.littlePaddingLeft {
	padding-left: 20px;
}


/* ******************* */
/* Surcharge bootsrap  */
/* ******************* */
.well {
	padding: 8px;
	margin-bottom: 10px;
}

.container-fluid {
	padding-right: 5px;
	padding-left: 5px;
}


/* ******************* */
/*   Profil Picture    */
/* ******************* */
.emailStyle {
	font-style: italic;
	color: gray;
}


/* ******************* */
/*   Speaker Picture   */
/* ******************* */

.speakerPicture img {
	padding-left:5px;
	float: right;
}

/* ******************* */
/*   Workshop Picture  */
/* ******************* */
.workshopPicture img {
	margin: 10px 20px 10px 0px;
}

/* ******************* */
/*   Particip Picture  */
/* ******************* */
/*
.participantPicture img {
	padding-left:5px;
}*/

