@(message: String, workshopsSession: List[WorkshopSession])

@import helper._

@main(message) {

	@if(workshopsSession.isEmpty) {
		<div class="row-fluid workshop-bloc">
			<div class="span12 well">
				@Messages("welcome.no.workshops")
			</div>
		</div>
		
	} else {
		@for(session <- workshopsSession) { 
			<div id="@session.workshop.id" class="row-fluid">
				<div class="span12 plannedTitle ">
					<p class="alert">@Messages("workshop.planned.on"): @WorkshopController.decorateDate( session.nextPlay ) - @session.location </p>
				</div>
			</div>
			<div class="row-fluid workshop-bloc spaceAfter">
				<div class="span1 bulle">
					<img src="@routes.Assets.at("images/bulleWorkshop.png")" />
				</div>
				<div  id="bulle" class="span11 well">
					<div class="container-fluid">
						<div class="row-fluid">
							<!-- inclusion fragment body -->
							<div class="span3 workshopPicture">
								<img src="@routes.Assets.at(session.workshop.image)" />
							</div>
							<div class="span7 spaceAfter">
								<h4>
									<a href="#" workshop-id="@session.workshop.id"> <i class="icon-zoom-in"></i> @session.workshop.subject</a>
								</h4>
								<div>
									<p>@Html( session.workshop.summary )</p>
								</div>
							</div>
							
							<!-- gestion speacker -->
							<div class="span2 speakerPicture">
								<img width="48" height="48" title="@session.speaker.firstName @session.speaker.lastName"
									src="@session.speaker.picture" />
							</div>
							
						</div>
						<div class="row-fluid">
							<div class="span10">
								<i class="icon-hand-right"></i> @Messages("welcome.workshop.places.available", session.limitePlace - session.participants.size, session.limitePlace)
							</div>
						</div>
						<div class="row-fluid">
							<div class="span10 participantPicture">
								@for(participant <- session.participants) { 
									<img width="32" height="32" title="@participant.firstName @participant.lastName"
										src="@participant.picture" />
								}
							</div>
						</div>
					
						<!-- Contrôles -->
						@if( AuthentificationController.getUser != null ) {
							<div class="row-fluid">
								<div class="span12 alignToRight">
									@if( AuthentificationController.isAuthenticatedUserAdmin || AuthentificationController.isSessionSpeaker( session ) ) {
										<a href="@routes.WorkshopController.modifyPlannedWorkshop(session.workshop.id, session.id)" class="btn btn-info">
											@Messages("workshop.planned.edit.session")
										</a>
									}
									@if( AuthentificationController.isAuthenticatedUserAdmin || AuthentificationController.isSessionSpeaker( session ) ) {
										<a href="@routes.WorkshopController.planWorkshop(session.workshop.id)" class="btn btn-warning">
											@Messages("workshop.planned.edit.add.session")
										</a>
									}
									@if( !session.participants.contains(AuthentificationController.getUser) ) {
										<a class="btn btn-success" href="@routes.WorkshopController.addParticipant( session.id )"  >
											@Messages("workshop.subscribe")
										</a>
									}
									@if( session.participants.contains(AuthentificationController.getUser) ) {
										<a class="btn btn-danger" href="@routes.WorkshopController.removeParticipant( session.id )" >
											@Messages("workshop.unsubscribe")
										</a>
									}
								</div>
							</div>
						}
					</div>
					
				</div>
				<div id="workshop-details-@session.workshop.id" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					@views.html.workshops.workshopDetailsPlanned( session.workshop, session )
				</div>
				
			</div>
		}		
		
		<div id="modal-suppression-confirm" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-header">
			  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			  <h3 id="myModalLabel">@Messages("welcome.workshop.delete.modal.title")</h3>
			</div>
			<div class="modal-body center-text">
			  <img src="@routes.Assets.at("images/confirm_48.png")" />
			  <div class="modal-suppression-text">@Messages("welcome.workshop.delete.modal.text")</div>
			</div>
			<div class="modal-footer">
			  <button class="btn" data-dismiss="modal" aria-hidden="true">@Messages("welcome.workshop.delete.modal.no")</button>
			  <button class="btn btn-danger" id="valid-suppression">@Messages("welcome.workshop.delete.modal.yes")</button>
			</div>
		</div>
		
	}
}
