@(message: String, workshops: List[Workshop])

@import helper._

@main(message) {

@if(workshops.isEmpty()) {
	<div class="row-fluid workshop-bloc">
		<div class="span12 well">
			Il n'y a pas de workshops dans la liste
		</div>
	</div>
	
} else {
	@for(workshop <- workshops) { 
	<div class="row-fluid workshop-bloc">
		<div class="span12 well">
			<div class="container-fluid">
				<div class="row-fluid">
					<div class="span12">
						<h3>@workshop.getSubject</h3>
					</div>
				</div>
				<div class="row-fluid">
					<div class="span3">
						<img 
							src="@routes.Assets.at(workshop.getImage)" />
					</div>
					<div class="span9">
						<div>
							@Html(workshop.getDescription)
						</div>
					</div>
				</div>
				<div class="row-fluid">
					<div class="span12 alignToRight">
						<a href="#" data-link="@routes.WorkshopController.deleteWorkshop(workshop.getId)" class="btn btn-danger">Supprimer</a>
						<a href="@routes.WorkshopController.modifyWorkshop(workshop.getId)" class="btn btn-info">Modifier</a>
						<a href="@routes.WorkshopController.planWorkshop(workshop.getId)" class="btn btn-success">Planifier</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="modal-suppression-confirm" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-header">
		  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		  <h3 id="myModalLabel">Confirmation</h3>
		</div>
		<div class="modal-body">
		  <img src="@routes.Assets.at("images/confirm_48.png")" align="left" />
		  <p>Etes vous sur de vouloir supprimer ce workshop ?</p>
		</div>
		<div class="modal-footer">
		  <button class="btn" data-dismiss="modal" aria-hidden="true">Non</button>
		  <button class="btn btn-primary" id="valid-suppression">Oui</button>
		</div>
	</div>
	}
}
}
