@(workshops: List[Workshop], workshopForm: Form[Workshop])

@import helper._

@main("Liste des Workshops") {
	
	<h1>@workshops.size() workshop(s)</h1>
	
	<ul>
		@for(workshop <- workshops) {
			<li>
				@workshop.getSubject, 
				@workshop.getDescription, 
				@workshop.getImage
				
				@form(routes.Application.deleteWorkshop(workshop.getId)) {
					<input type="submit" value="Delete">
				}
			</li>
		}
	</ul>
	
	<h2>Add a new workshop</h2>
	
	@form(routes.Application.newWorkshop()) {
		@inputText(workshopForm("subject"))
		@inputText(workshopForm("description"))
		@inputText(workshopForm("image"))
		
		<input type="submit" value="Create">
	}
	
}
 