@(page:String)
<div class="navbar">
	<div class="navbar-inner">
		<div class="container">
			<ul class="nav">
				<li @Application.isActive("home")>
					<a href="@routes.Application.welcome()">@Messages("menu.home")</a>
				</li>
				<li @Application.isActive("newWorkshops")>
					<a href="@routes.Application.newWorkshops()">@Messages("menu.new")</a>
				</li>
				<li @Application.isActive("alreadyPlayed")>
					<a href="@routes.Application.workshops()">@Messages("menu.alreadydone")</a>
				</li>
			</ul>

            @if( Secured.getUser != null && Secured.isMemberOf(Roles.ADMIN) ) {
                <ul class="navbar-text pull-right">
                    <a href="@routes.Administration.adminUsers(0)">
                        <img width="32" height="32" src="@routes.Assets.at("images/admin.png")" />
                    </a>
                </ul>
            }
			<ul class="navbar-text pull-right">
				<a target="_blank" href="@Application.conf("bug.manager.link")">
					<img width="32" height="32" src="@routes.Assets.at("images/Bugs_Icon.png")" />
				</a>
			</ul>
			<ul class="navbar-text pull-right">
				<a href="@routes.Application.charter()">
					<img width="32" height="32" src="@routes.Assets.at("images/Charter-icon.png")" />
				</a>
			</ul>
		</div>
	</div>
</div>
