@( page:String )
@import helper._

@if( AuthentificationController.getUser != null ) {
	<div class="row-fluid spaceAfter">
		<div class="span12 center-text">
		<a href="@routes.WorkshopController.blankWorkshop" class="btn btn-large btn-primary">@Messages("action.submit.a.workshop")</a>
		</div>
	</div>
}

<div class="row-fluid">
	<p class="alert alert-info sidebarTitle"><img src="@routes.Assets.at("images/RSS-journal.png")" /> @Messages("last.actions") </p>
	<div class="span12 well well-border-only">
		wcwxvxvcwxvwxv
	</div>
	<div class="span12 well well-border-only">
		wcwxvxvcwxvwxv
	</div>
	<div class="span12 well well-border-only">
		wcwxvxvcwxvwxv
	</div>
</div>
	
